@font-face {
    font-family: tt-autonomous-mono;
    src: url(../fonts/tt-autonomous-mono-trial-regular.ttf);
}

@font-face {
    font-family: tt-autonomous-mono-bold;
    src: url(../fonts/tt-autonomous-mono-trial-bold.ttf);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

#page-titulo {
    border-bottom: solid 3px #5E17EB;
    font-family: tt-autonomous-mono, monospace;
}

#theme-btn {
    transition: all 1s;
    margin: 0 0 0 30px;
    font-size: 20px;
}

.txt-emphasis {
    color: #5E17EB;
}

#header a {
    text-decoration: none;
}

#header a:hover {
    border-bottom: solid 3px #5E17EB;
}

#home h1 {
    font-family: tt-autonomous-mono-bold, monospace;
}

#home button {
    border-radius: 5px;
    margin-right: 5px;
    border: solid 3px #5E17EB;
    font-family: tt-autonomous-mono, monospace;
}

#home button.emphasis {
    background-color: #5E17EB;
    display: none;
}

#devicon {
    background: url('../img/devicon.png') no-repeat center;
    background-size: 100%;
    filter: opacity(8%);
}

#codeimg {
    margin: 0;
    background: url('../img/codeimg.png') no-repeat center;
    background-size: 100%;
    filter: opacity(50%);
    position: absolute;
    transform: translateY(-50%);
    top: 50vh;
    right: 10vw;
    width: 35vw;
    height: 100%;
    z-index: -1;
}

/* DARK MODE/DEFAULT */

.default {
    background-color: #0C0C12;
    color: #FFFFFF;
    transition: all 1s;
}

.default::-webkit-scrollbar {
    width: 12px;
}

.default::-webkit-scrollbar-button {
    background-color: #F3F3ED;
    border: solid 3px #0C0C12;
    border-radius: 5px;
}

.default::-webkit-scrollbar-thumb {
    background-color: #5E17EB;
    border: solid 3px #0C0C12;
    border-radius: 5px;
}

.default #header a {
    color: #FFFFFF;
}

.default #home button {
    color: #F3F3ED;
}

.default #home button:hover {
    border-color: #F3F3ED;
    background-color: #F3F3ED;
    color: #0C0C12;
}

.default #header ul {
    background-color: #0C0C12;
}

/* LIGHT MODE */

.light-mode {
    background-color: #F3F3ED;
    color: #000000;
}

.light-mode::-webkit-scrollbar-button {
    background-color: #0C0C12;
    border: solid 3px #F3F3ED;
    border-radius: 5px;
}

.light-mode::-webkit-scrollbar-thumb {
    background-color: #5E17EB;
    border: solid 3px #F3F3ED;
    border-radius: 5px;
}

.light-mode #header a {
    color: #000000;
}

.light-mode #home button {
    color: #0C0C12;
}

.light-mode #home button:hover {
    border-color: #0C0C12;
    background-color: #0C0C12;
    color: #F3F3ED;
}

.light-mode #header ul {
    background-color: #F3F3ED;
}

/* ERROR PAGE */

.error-page {
    background-color: #0C0C12;
    color: #F3F3ED;
}

.error-page #page-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align: center;
    height: 100vh;
    padding: 0 0 25vh;
}

.error-page h1 {
    font-family: tt-autonomous-mono, monospace;
    font-size: 30vw;
    position: absolute;
    top: 40vh;
    transform: translateY(-29vh);
    width: 100%;
    filter: opacity(0.2);
    color: #5E17EB;
    z-index: -1;
}

.error-page a {
    text-decoration: none;
    color: #5E17EB;
}