@media screen and (min-width: 650px) {

    #page-content {
        width: 80vw;
        margin: 0 10vw;
    }
    
    #header {
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        height: 10vh;
    }

    #header div {
        display: inline-flex;
        align-items: center;
    }

    #header ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #header ul li {
        display: inline-block;
        padding: 0 1vw;
    }

    #menu-btn {
        display: none;
    }

    #devicon {
        z-index: -1;
        position: absolute;
        top: 10vh;
        height: 80vh;
        width: 80vh;
        left: -2vw;
    }

    .presentation {
        height: 90vh;
        padding: 0 0 10vh;
        display: grid;
        width: 50vw;
        align-content: center;
        justify-items: start;
    }
    
}