@media screen and (max-width: 649px) {

    #page-content {
        width: 90vw;
        margin: 0 5vw;
    }
    
    #header {
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        height: 10vh;
    }

    #header ul {
        background-color: #0c0c12;
        width: 100vw;
        height: 90vh;
        top: 10vh;
        left: 100vw;
        position: fixed;
        display: flex;
        list-style-type: none;
        padding: 5vw;
        margin: 0;
        transition: all 1s;
        z-index: 1;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    #header ul li {
    margin: 10vw 0;
    font-size: 20px;
    }

    #menu-btn {
        transition: all 1s;
        display: inline-flex;
        margin: 0 0 0 30px;
        font-size: 30px;
    }

    #btn-group-icons {
        display: flex;
        align-items: center;
    }

    #inicio {
        width: 100%;
    }

    #inicio h1 {
        font-size: 30px;
        width: 90vw;
    }

    #inicio .btn-group {
        max-width: 90vw;
    }

    #devicon {
        position: absolute;
        top: 50vh;
        left: 50vw;
        transform: translate(-50%, -50%);
        width: 90vw;
        height: 90vw;
        z-index: -1;
    }

    #codeimg {
        display: none;
    }

    .presentation {
        height: 90vh;
        padding: 0 0 10vh;
        display: grid;
        align-content: center;
        justify-content: center;
    }
    
}